In [1]:
import pandas as pd

In [2]:
def str_to_list(text):
    text = text.split(',')
    text_clean = []
    for elem in text:
        elem_clean = elem.strip()
        text_clean.append(elem_clean)
    return text_clean
str_to_list(' Alice , Bob, Charlie ')

['Alice', 'Bob', 'Charlie']

In [3]:
movies = pd.read_csv('movies.csv')

In [4]:
df = movies.dropna(axis='rows')

In [5]:
#df = df.sort_values(by = 'avg_vote', ascending=False) # select the 1000 ratings
#df = df[0:1000]
#df.head()

In [6]:
df.shape

(33432, 12)

In [7]:
countries_s = []
for row in range(df.shape[0]):
    country = str_to_list(df.iloc[row, 5])
    countries_s.append(country)
df['countries_s'] = countries_s

/tmp/ipykernel_56402/3749916205.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['countries_s'] = countries_s

In [8]:
directors_s = []
for row in range(df.shape[0]):
    director = str_to_list(df.iloc[row, 6])
    directors_s.append(director)
df['directors_s'] = directors_s

/tmp/ipykernel_56402/2426553324.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['directors_s'] = directors_s

In [9]:
actors_s = []
for row in range(df.shape[0]):
    actor = str_to_list(df.iloc[row, 7])
    actors_s.append(actor)
df['actors_s'] = actors_s

/tmp/ipykernel_56402/3133106560.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['actors_s'] = actors_s

In [10]:
df.head()

,filmtv_id,title,year,genre,duration,country,directors,actors,avg_vote,critics_vote,public_vote,total_votes,countries_s,directors_s,actors_s
1,3,18 anni tra una settimana,1991,Drama,98,Italy,Luigi Perelli,"Kim Rossi Stuart, Simona Cavallari, Ennio Fant...",6.5,6.00,7.0,4,[Italy],[Luigi Perelli],"[Kim Rossi Stuart, Simona Cavallari, Ennio Fan..."
2,17,Ride a Wild Pony,1976,Romantic,91,United States,Don Chaffey,"Michael Craig, John Meillon, Eva Griffith, Gra...",5.6,6.00,5.0,9,[United States],[Don Chaffey],"[Michael Craig, John Meillon, Eva Griffith, Gr..."
3,18,Diner,1982,Comedy,95,United States,Barry Levinson,"Mickey Rourke, Steve Guttenberg, Ellen Barkin,...",7.0,8.00,6.0,18,[United States],[Barry Levinson],"[Mickey Rourke, Steve Guttenberg, Ellen Barkin..."
4,20,A che servono questi quattrini?,1942,Comedy,85,Italy,Esodo Pratelli,"Eduardo De Filippo, Peppino De Filippo, Clelia...",5.9,5.33,7.0,15,[Italy],[Esodo Pratelli],"[Eduardo De Filippo, Peppino De Filippo, Cleli..."
5,21,The Uranian Conspiracy,1978,Spy,117,"Italy, Germany, Israel","Gianfranco Baldanello, Menahem Golan","Fabio Testi, Janet Agren, Assaf Dayan, Siegfri...",4.8,3.50,6.0,3,"[Italy, Germany, Israel]","[Gianfranco Baldanello, Menahem Golan]","[Fabio Testi, Janet Agren, Assaf Dayan, Siegfr..."

In [11]:
list_countries = []
for row in range(df.shape[0]):
    countries = df.iloc[row, 12]
    for country in countries:
        if country != '' and country not in list_countries:
            list_countries.append(country)
list_countries = sorted(list_countries)

In [12]:
print(list_countries)

['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bangladesh', 'Belarus', 'Belgium', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Cambodia', 'Cameroon', 'Canada', 'Chad', 'Chile', 'China', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Czechoslovakia', 'Denmark', 'Dominican Republic', 'East Germany', 'Ecuador', 'Egypt', 'England', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Gilbert and Ellice Islands', 'Great Britain', 'Greece', 'Greenland', 'Guatemala', 'Haiti', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macau', 'Macedonia', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco', 'Nepal', 'Netherlands', 'Netherlands Antilles', 'New Zealand', 'Nicaragua', 'Nigeria', 'Norway', 'Pakistan', 'Palestine', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Principality of Monaco', 'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'South Korea', 'Soviet Union', 'Spain', 'Sri Lanka', 'Sudan', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Thailand', 'Tunisia', 'Turkey', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'West Germany', 'Yemen', 'Yugoslavia']

In [13]:
countries = pd.DataFrame()
list_ids = [id+1 for id in range(len(list_countries))]
countries['id'] = list_ids
countries['name'] = list_countries
print(len(countries))
countries.head()

141

   id            name
0   1     Afghanistan
1   2         Albania
2   3         Algeria
3   4  American Samoa
4   5          Angola

In [14]:
list_directors = []
for row in range(df.shape[0]):
    directors = df.iloc[row, 13]
    for director in directors:
        if director != '' and director not in list_directors:
            list_directors.append(director)
list_directors = sorted(list_directors)

In [15]:
directors = pd.DataFrame()
list_ids = [id+1 for id in range(len(list_directors))]
directors['id'] = list_ids
directors['name'] = list_directors
print(len(directors))
directors.head(10000)

11651

         id                  name
0         1  A. Edward Sutherland
1         2           A.B. Shawky
2         3            A.B. Stone
3         4            A.D. Calvo
4         5          A.J. Edwards
...     ...                   ...
9995   9996       Sarah Kernochan
9996   9997      Sarah Kruchowski
9997   9998          Sarah Polley
9998   9999       Sarah Robertson
9999  10000            Sarah Suco

[10000 rows x 2 columns]

In [16]:
list_actors = []
for row in range(df.shape[0]):
    actors = df.iloc[row, 14]
    for actor in actors:
        if actor != '' and actor not in list_actors:
            list_actors.append(actor)
list_actors = sorted(list_actors)

In [17]:
actors = pd.DataFrame()
list_ids = [id+1 for id in range(len(list_actors))]
actors['id'] = list_ids
actors['name'] = list_actors
print(len(actors))
actors.head(80000)

82785

          id                     name
0          1         'Chiyaan' Vikram
1          2  'Kecske' Molnár Levente
2          3       'Legs' Larry Smith
3          4        'Magic' Matt Alan
4          5           'Tommy' Haynes
...      ...                      ...
79995  79996             Víctor Duplá
79996  79997            Víctor García
79997  79998      Víctor Hugo Carrizo
79998  79999            Víctor Israel
79999  80000    Víctor Manuel Pajares

[80000 rows x 2 columns]

In [ ]:
columns = ['movie_id', 'actor_id']
play = pd.DataFrame(columns = columns)
nb_rows = df.shape[0]
for row in range(nb_rows):
    # if row %1000 == 0:
    #    print(row)
    actors_names = df.iloc[row, 14]
    small_df = pd.DataFrame(columns = columns)
    movie_id = df.iloc[row, 0]
    actor_ids = []
    for actor in actors_names:
        actor_ids.append(int(actors[actors.name == actor].id))
    small_df['movie_id'] = [movie_id for _ in range(len(actors_names))]
    small_df['actor_id'] = actor_ids
    play = pd.concat([play, small_df])

In [ ]:
print(play.shape[0])
play.head(1000)

In [ ]:
columns = ['movie_id', 'director_id']
manage = pd.DataFrame(columns = columns)
nb_rows = df.shape[0]
for row in range(nb_rows):
    directors_names = df.iloc[row, 13]
    small_df = pd.DataFrame(columns = columns)
    movie_id = df.iloc[row, 0]
    director_ids = []
    for director in directors_names:
        director_ids.append(int(directors[directors.name == director].id))
    small_df['movie_id'] = [movie_id for _ in range(len(directors_names))]
    small_df['director_id'] = director_ids
    manage = pd.concat([manage, small_df])

In [ ]:
print(manage.shape[0])
manage.head(20)

In [ ]:
columns = ['movie_id', 'country_id']
come_from = pd.DataFrame(columns = columns)
nb_rows = df.shape[0]
for row in range(nb_rows):
    countries_names = df.iloc[row, 12]
    small_df = pd.DataFrame(columns = columns)
    movie_id = df.iloc[row, 0]
    countries_ids = []
    for country in countries_names:
        countries_ids.append(int(countries[countries.name == country].id))
    small_df['movie_id'] = [movie_id for _ in range(len(countries_names))]
    small_df['country_id'] = countries_ids
    come_from = pd.concat([come_from, small_df])

In [ ]:
print(come_from.shape[0])
come_from.head(20)

In [ ]:
columns = ['filmtv_id', 'title', 'year', 'genre', 'duration', 'avg_vote', 'critics_vote', 'public_vote', 'total_votes']
movies = df[columns]
movies.columns = ['movie_id', 'title', 'year', 'genre', 'duration', 'avg_vote', 'critics_vote', 'public_vote', 'total_votes']
movies.head(100)

In [ ]:
movies.to_csv('table_movies.csv', index=False)
actors.to_csv('table_actors.csv', index=False)
directors.to_csv('table_directors.csv', index=False)
countries.to_csv('table_countries.csv', index=False)
play.to_csv('table_play.csv', index=False)
manage.to_csv('table_manage.csv', index=False)
come_from.to_csv('table_come_from.csv', index=False)